
<div class="header clearfix">

    <nav>
    <div class="card card-nav-tabs card-plain">
    <div class="card-header card-header-danger">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><h3> Songs </h3></a>
                    </li>

        <li class="nav-item dropdown" style="margin-right: 50px">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Years
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/year/1950">1950s</a>
          <a class="dropdown-item" href="/year/1960">1960s</a>
          <a class="dropdown-item" href="/year/1970">1970s</a>
          <a class="dropdown-item" href="/year/1980">1980s</a>
          <a class="dropdown-item" href="/year/1990">1990s</a>
          <a class="dropdown-item" href="/year/2000">2000s</a>
        </div>
        </li>

        <li class="nav-item dropdown" style="margin-right: 50px">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Queries
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/query/1">5 Songs with lowest Tempo</a>
          <a class="dropdown-item" href="/query/2">5 Songs with minimum Quality</a>
          <a class="dropdown-item" href="/query/3">10 Songs Maximum Energy</a>
          <a class="dropdown-item" href="/query/4">10 Most danceable Songs of 2000s</a>
          <a class="dropdown-item" href="/query/5">5 most pleasant Songs</a>
        </div>
      </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

    </nav>

</div>
